<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">

            <ul *ngFor="let contact of contactData[0].contact">
              <div [class]="contact.class">
                <i [class]="contact.icon"></i>
                <h4>{{contact.title}}:</h4>
                <p *ngIf="contact.url; else notUrl">
                <a
                  [href]="contact.url"
                  target="_blank"
                  class="linkedin"
                  >{{contact.subtitle}}</a
                ></p>
                <ng-template #notUrl>
                <p>{{contact.subtitle}}</p>
              </ng-template>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>