<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>El churqui 50, Jujuy, Argentina</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>sebcostilla@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-whatsapp"></i>
              <h4>whatsapp:</h4>
              <p>
                <a
                  href="https://wa.me/5493885702533"
                  target="_blank"
                  class="linkedin"
                  >Whatsapp me</a
                >
              </p>
            </div>

            <div class="linkedin">
              <i class="bi bi-linkedin"></i>
              <h4>LinkedIn:</h4>
              <p>
                <a
                  href="https://www.linkedin.com/in/sebasti%C3%A1n-costilla-15b9b4167/"
                  target="_blank"
                  class="linkedin"
                  >My LinkedIn</a
                >
              </p>
            </div>

            <div class="linkedin">
              <i class="bi bi-github"></i>
              <h4>Github:</h4>
              <p>
                <a
                  href="https://github.com/scostilla"
                  target="_blank"
                  class="linkedin"
                  >My Git</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>