<section id="about" class="about">
    <div class="section-title">
      <h2>About</h2>
      <p>
        I am an university programmer analyst graduated from the National
        University of Jujuy, Argentina
      </p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <h2 style="text-align: center">Full Stack Developer</h2>
        <p class="fst-italic"></p>
        <div class="col-4 offset-1">
          <img src="../assets/me.jpg" width="50%" alt="Me" align="right" alt="me image"/>
        </div>
        <div class="col-4 offset-1">
          <div class="row">
            <div class="col-12">
              <ul>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>Birthday:</strong> 17 Aug 1983
                </li>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>Phone:</strong> +54 3885 702533
                </li>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>City:</strong> Jujuy, ARG.
                </li>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>Degree:</strong> Semi Sr.
                </li>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>Email:</strong> sebcostilla@gmail.com
                </li>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>Freelance:</strong> Available
                </li>
              </ul>
            </div>
          </div>
        </div>
        <p>
          Currently I work in SAME 107 (medical emergency care system) Jujuy,
          where I have developed a pharmacy products management system. I
          practice taekwondo, and for my black belt degree tesis I have
          develop an app for TKD students to learn about it, during the
          quarantine as support for the instructors. Due to my experience in
          customer service, I have strong communication and teamwork skills.
        </p>
      </div>
    </div>
  </section>