<!-- =======Header======= -->
<header>
  <nav class="navbar sticky-top navbar-expand-md bg-dark">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a onclick="openNav()" class="menubutton"><i class="bi bi-list"></i></a>

      <a
        class="linkedin"
        href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
        target="_blank"
      >
        <img src="../assets/APIcon.png" width="20px" alt="ArgProgramaIcon"/>
      </a>

      <a href="https://wa.me/5493885702533" target="_blank" class="linkedin"
        ><i class="bi bi-whatsapp"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/sebasti%C3%A1n-costilla-15b9b4167/"
        target="_blank"
        class="linkedin"
        ><i class="bi bi-linkedin"></i>
      </a>
    </ul>
  </nav>
</header>
<!-- End Header -->

<div id="main">
  <!--SIDEBAR-->
  <div id="mySidenav" class="sidenav">
    <a href="#">Home</a>
    <a href="#about">About Me</a>
    <a href="#resume">Resume</a>
    <a href="#contact">Contact</a>
  </div>

  <!-- =======Main Section======= -->
  <main>
    <section id="hero" class="hero">
      <div
        class="container d-flex flex-column align-items-center"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <h1>Sebastián R. Costilla</h1>
        <p></p>
        <h2>Full Stack Developer from Jujuy, Arg.</h2>
        <a href="#about" class="btn-about">About Me</a>
      </div>
    </section>

    <section id="about" class="about">
      <div class="section-title">
        <h2>About</h2>
        <p>
          I am an university programmer analyst graduated from the National
          University of Jujuy, Argentina
        </p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <h2 style="text-align: center">Full Stack Developer</h2>
          <p class="fst-italic"></p>
          <div class="col-4 offset-1">
            <img src="../assets/me.jpg" width="50%" alt="Me" align="right" alt="me image"/>
          </div>
          <div class="col-4 offset-1">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>
                    <i class="bi bi-rounded-right"></i>
                    <strong>Birthday:</strong> 17 Aug 1983
                  </li>
                  <li>
                    <i class="bi bi-rounded-right"></i>
                    <strong>Phone:</strong> +54 3885 702533
                  </li>
                  <li>
                    <i class="bi bi-rounded-right"></i>
                    <strong>City:</strong> Jujuy, ARG.
                  </li>
                  <li>
                    <i class="bi bi-rounded-right"></i>
                    <strong>Degree:</strong> Semi Sr.
                  </li>
                  <li>
                    <i class="bi bi-rounded-right"></i>
                    <strong>Email:</strong> sebcostilla@gmail.com
                  </li>
                  <li>
                    <i class="bi bi-rounded-right"></i>
                    <strong>Freelance:</strong> Available
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p>
            Currently I work in SAME 107 (medical emergency care system) Jujuy,
            where I have developed a pharmacy products management system. I
            practice taekwondo, and for my black belt degree tesis I have
            develop an app for TKD students to learn about it, during the
            quarantine as support for the instructors. Due to my experience in
            customer service, I have strong communication and teamwork skills.
          </p>
        </div>
      </div>
    </section>

    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Present</h4>
              <p>
                <em
                  >University programmer analyst graduated from the National
                  University of Jujuy, Argentina, Currently working in SAME 107
                  where I have develop a system management for pharmacy
                  products.</em
                >
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>University programmer analyst</h4>
              <h5>2013 - 2017</h5>
              <p><em>National University of Jujuy, Jujuy, Argentina</em></p>
            </div>
            <div class="resume-item">
              <h4>Humanist high school graduate</h4>
              <h5>1996 - 2001</h5>
              <p><em>Gymnasium U.N.T., Tucumán, Argentina</em></p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior graphic design specialist</h4>
              <h5>2018 - Present</h5>
              <p><em>SAME, Jujuy, Arg. </em></p>
              <p></p>
              <ul>
                <li>Developer of a system management for pharmacy products.</li>
                <li>
                  Beta tester, Help Desk and staff training in SG SHAMAN -
                  emergency dispatch system
                </li>
                <li>Computer maintenance and repairment</li>
                <li>security cameras installation and maintenance</li>
                <li>Configuration and maintenance of VHF Radios and HT</li>
              </ul>
            </div>
            <div class="resume-item">
              <h5>2013 - 2018</h5>
              <p><em>INCLUIR SALUD, Jujuy, Arg.</em></p>
              <p></p>
              <ul>
                <li>administrative staff.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h5>2012 - 2013</h5>
              <p><em>SUMAR JUJUY, Jujuy, Arg.</em></p>
              <p></p>
              <ul>
                <li>Technical and administrative assistant</li>
                <li>Beta tester and Help Desk in MAS SALUD JUJUY system</li>
              </ul>
            </div>
            <div class="resume-item">
              <h5>2010 - 2012</h5>
              <p><em>PLAN NACER JUJUY, Jujuy, Arg.</em></p>
              <p></p>
              <ul>
                <li>Data entry and technical assistant</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>El churqui 50, Jujuy, Argentina</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>sebcostilla@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-whatsapp"></i>
                <h4>whatsapp:</h4>
                <p>
                  <a
                    href="https://wa.me/5493885702533"
                    target="_blank"
                    class="linkedin"
                    >Whatsapp me</a
                  >
                </p>
              </div>

              <div class="linkedin">
                <i class="bi bi-linkedin"></i>
                <h4>LinkedIn:</h4>
                <p>
                  <a
                    href="https://www.linkedin.com/in/sebasti%C3%A1n-costilla-15b9b4167/"
                    target="_blank"
                    class="linkedin"
                    >My LinkedIn</a
                  >
                </p>
              </div>

              <div class="linkedin">
                <i class="bi bi-github"></i>
                <h4>Github:</h4>
                <p>
                  <a
                    href="https://github.com/scostilla"
                    target="_blank"
                    class="linkedin"
                    >My Git</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ====Footer====-->
    <footer class="navbar sticky-top navbar-expand-md bg-dark">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a href="mailto:sebcostilla@gmail.com" target="_blank" class="linkedin"
          ><i class="bi bi-envelope"></i>sebcostilla@gmail.com</a
        >
      </ul>
    </footer>
    <!-- End Footer -->
  </main>
  <!-- End Main Section -->
</div>
<!-- Bootstrap JS -->
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- JS Template -->
<script src="output/app.js"></script>